/* Estilos del documento*/

@import url(styles/reset.css);
@import url(styles/menu.css);
@import url(styles/tittle.css);
@import url(styles/about.css);
@import url(styles/skills.css);
@import url(styles/hobbies.css);
@import url(styles/academic.css);
@import url(styles/experience.css);
@import url(styles/contact.css);
@import url(styles/footer.css);

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --color-de-fondo: #F5F5F5;
   --color-de-fuente: #464646;
   --color-de-link: #000;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--color-de-fondo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--color-de-fuente);
}
a {
    text-decoration: none;
    color: var(--color-de-link);
}
button {
    cursor: pointer;
}

/* Display */

section.menu,
.menu__header,
section.title,
.title__div,
.title__container,
.title__network,
section.about,
.about__container,
section.skills,
section.hobbies,
.skills__line,
.hobbies__line,
.skills__box ul,
.hobbies__box ul,
section.academic,
.academic__courses,
.academic__courses__box,
.academic__courses__list,
.academic__courses__item__img,
section.experience,
.experience__box,
.experience__info-container,
.experience__description,
section.formcontato,
.formcontato__contacto,
.formcontato--esquerda,
.formcontato__text,
.formcontato__form,
section.footer,
.footer__rodape {
    display: flex;
}


/* Justify-content */

section.menu,
.menu__header,
.title__container,
.academic__courses__box,
.academic__courses__list,
.academic__courses__item__img,
section.formcontato,
section.footer,
.footer__rodape {
    justify-content: center;
}

.title__network {
    justify-content: flex-start;
}

section.menu {
    justify-content: space-between;
}

.skills__line,
.hobbies__line {
    justify-content: space-evenly;
}


/* Align-items */

section.menu,
.menu__header,
section.skills,
section.hobbies,
.skills__line,
.hobbies__line,
section.academic,
.academic__courses,
.academic__courses__box,
.academic__courses__list,
.academic__courses__item__img,
section.experience,
section.formcontato,
.formcontato__form,
section.footer,
.footer__rodape {
    align-items: center;
}


/* Flex-direction */

.title__div,
.title__container,
.about__container,
section.skills,
section.hobbies,
.skills__box ul,
.hobbies__box ul,
section.academic,
.academic__courses,
.academic__courses__box,
.academic__courses__list,
section.experience,
.experience__box,
.experience__info-container,
.formcontato__contacto,
.formcontato__text,
.formcontato__form,
.footer__rodape {
    flex-direction: column;
}

.menu__header,
.title__network,
.skills__line,
.hobbies__line {
    flex-direction: row;
}


/* Flex-wrap */

.menu__header,
.title__network,
.footer__rodape {
    flex-wrap: nowrap;
}

.skills__line,
.hobbies__line {
    flex-wrap: wrap;
}


/* Font-size */

.menu__list__item__contato,
.title__network__item,
.footer__rodape {
    font-size: 12px;
}

.title__subsection,
.about__paragraph,
.skills__name,
.hobbies__name,
.academic__courses__item__subtitle,
.experience__text,
.experience__button button,
.formcontato__botao {
    font-size: 14px;
}

.menu__header,
.academic__courses__item__title,
.experience__title,
.formcontato__subtext,
.formcontato__input,
.formcontato__input::placeholder,
.formcontato__textarea,
.formcontato__textarea::placeholder {
    font-size: 16px;
}

.title__bio,
.about__title,
.skills__title,
.hobbies__title,
.academic__title,
.experience__section__title,
.formcontato__title {
    font-size: 22px;
}


/* Font-weight */

.title__subsection,
.about__paragraph,
.formcontato__input,
.formcontato__input::placeholder,
.formcontato__textarea,
.formcontato__textarea::placeholder {
    font-weight: 400;
}

.academic__courses__item__subtitle,
.experience__text,
.formcontato__subtext,
.footer__rodape {
    font-weight: 500;
}

.title__network__item,
.experience__button button,
.formcontato__botao {
    font-weight: 600;
}

.menu__header,
.title__bio,
.about__title,
.skills__title,
.hobbies__title,
.skills__name,
.hobbies__name,
.academic__title,
.academic__courses__item__title,
.experience__section__title,
.experience__title,
.formcontato__title {
    font-weight: 700;
}