/*Menu*/

section.menu {
    height: 88px;
    padding: 0 32px;

    /*Sección Menu Header*/

    .menu__list {
        display: flex;
        gap: 32px;
        font-size: 16px;
        font-weight: 500;
    }

    .menu__list__item:last-child {
        font-weight: 700;
    }

    .menu__list__item__contato {
        display: none;
    }
}

/*Titulo*/

section.title {
    padding: 32px;

    .title__div {

        .title__profile {
            height: 368px;
            width: 368px;
        }
    
        .title__container {
            gap: 24px;
    
            .title__bio {
                font-size: 52px;
                line-height: 61px;
            }
        
            .title__subsection {
                font-size: 22px;
                line-height: 26px;
            }
        
            .title__network {
                justify-content: space-between;
                gap: 32px;
            }
        }
    }
}

/*Sección sobre mi*/

section.about {
    padding: 32px;
    gap: 16px;

    .about__container {

        .about__title {
            font-size: 32px;
        }
    
        .about__paragraph {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

/*Skills*/

section.skills {

    .skills__title {
        font-size: 32px;
    }

    .skills__line {
        width: auto;
        gap: 25px;

        .skills__box ul{
            height: 100px;
            width: 140px;

            .skills__img img{
                height: 50px;
                width: 50px;
            }
        
            .skills__name {
                font-size: 16px;
            }
        }
    }
}

/*Hobbies*/

section.hobbies {

    .hobbies__title {
        font-size: 32px;
    }

    .hobbies__line {
        width: auto;
        gap: 25px;

        .hobbies__box ul{
            height: 100px;
            width: 140px;

            .hobbies__img img{
                height: 50px;
                width: 50px;
            }
        
            .hobbies__name {
                font-size: 16px;
            }
        }
    }
}

/*Formación Académica*/

section.academic{
    gap: 32px;
    
    .academic__title{
        font-size: 32px;
    }

    .academic__courses {

        .academic__courses__box {
            width: 280px;

    
            .academic__courses__list {
        
                .academic__courses__item__img {
                    height: 160px;
                    width: 240px;
                }

                .academic__courses__item__img img {
                    height: 80px;
                    width: 120px;
                }

                .academic__courses__item__title {
                    font-size: 22px;
                }

                .academic__courses__item__subtitle {
                    font-size: 16px;
                }
            }
        }
    }
}

/*Experiencia Profesional*/

section.experience{
    gap: 64px;

    .experience__section__title{
        font-size: 32px;
    }

    .experience__box {
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    .experience__box:nth-child(3) {
        flex-direction: row-reverse;
    }

    .experience__img {
        height: 400px;
        width: 720px;
    }

    .experience__info-container{
        width: 250px;
        gap: 8px;

        .experience__title {
            font-size: 22px;
        }
    
        .experience__text {
            font-size: 16px;
            line-height: 19px;
        }
    
        .experience__description {

            .experience__button button {
                width: 120px;
                height: 50px;
                padding: 16px;
                font-size: 16px;
            }
        }   
    }
}

/*Contacto*/

section.formcontato{
    width: auto;
    padding: 64px 32px;
    gap: 16px;

    .formcontato__contacto {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    .formcontato--esquerda {
        display: flex;
        gap: 32px;
    }

    .formcontato__img {
        display: inline-block;
        height: 350px;
    }

    .formcontato__text {
        gap: 8px;

        .formcontato__title {
            font-size: 32px;
        }

        .formcontato__form{
            gap: 32px;
            align-items: flex-start;

            /* .formcontato__input:hover {
                border-bottom: 2px solid #2A7AE4;
            } */

            .formcontato__botao {
                width: 160px;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

/*Footer*/

section.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    .footer__rodape {
    padding: 32px;
    font-size: 16px;
    }
}