/* Mobile */

section.academic {
    padding: 32px;
    gap: 32px;
    background-color: #EAF2FD;

    .academic__courses {
        height: auto;
        gap: 16px;

        .academic__courses__box {
            width: 210px;
            gap: 8px;
    
            .academic__courses__list {
                gap: 8px;
                text-align: center;
        
                .academic__courses__item__img {
                    height: 120px;
                    width: 170px;
                    padding: 16px;
                    gap: 10px;
                    background-color: #FFFFFF;
                    border-radius: 10px;
                }
            
                .academic__courses__item__img img {
                    height: 60px;
                    width: 85px;
                }
            }
        }
    }
}

/* Tablet */

@media screen and (min-width: 768px) {

    section.academic{
        gap: 22px;

        .academic__courses {
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
    }
}

/* Desktop */

@media screen and (min-width: 1024px) {

    section.academic{
        gap: 32px;
        
        .academic__title{
            font-size: 32px;
        }

        .academic__courses {

            .academic__courses__box {
                width: 280px;

        
                .academic__courses__list {
            
                    .academic__courses__item__img {
                        height: 160px;
                        width: 240px;
                    }

                    .academic__courses__item__img img {
                        height: 80px;
                        width: 120px;
                    }

                    .academic__courses__item__title {
                        font-size: 22px;
                    }

                    .academic__courses__item__subtitle {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}