/* Mobile */

section.formcontato {
    width: 100%;
    padding: 32px 0;
    gap: 10px;
    background-color: #EAF2FD;

    .formcontato__contacto {
        gap: 10px;
    }

    .formcontato--esquerda {
        gap: 32px;
    }

    .formcontato__img {
        display: none;
    }

    .formcontato__text {
        gap: 12px;

        .formcontato__title {
            margin-left: 12px;
        }

        .formcontato__subtext {
            line-height: 19px;
            margin-left: 8px;
        }

        .formcontato__form {
            gap: 25px;

            .formcontato__input, .formcontato__textarea {
                border-radius: 4px;
                border: 0;
                border-bottom: 2px solid #C8C8C8;
                background-color: #FFFFFF;
                padding: 0 8px;
                outline: 0;
            }

            .formcontato__input {
                width: 90%;
                height: 55px;
            }

            .formcontato__textarea {
                width: 87.5%;
                height: 130px;
                padding: 16px;
                resize: none;
            }

            .formcontato__input:focus, .formcontato__textarea:focus {
                border-bottom: 2px solid #2A7AE4;
            }

            .formcontato__input::placeholder, .formcontato__textarea::placeholder {
                color: #A2A2A2;
                line-height: 20px;
            }

            .formcontato__botao {
                width: 140px;
                height: 50px;
                padding: 12px 16px;
                border: 0;
                background-color: #2A7AE4;
                color: #FFFFFF;
            }
        }
    }
}

/* Tablet */

@media screen and (min-width: 768px) {

    
}

/* Desktop */

@media screen and (min-width: 1024px) {
    
    section.formcontato{
        padding: 64px;
        gap: 16px;

        .formcontato__contacto {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }

        .formcontato--esquerda {
            display: flex;
            gap: 32px;
        }

        .formcontato__img {
            display: inline-block;
            height: 350px;
        }

        .formcontato__text {
            gap: 8px;

            .formcontato__title {
                font-size: 32px;
            }

            .formcontato__form{
                gap: 32px;
                align-items: flex-start;

                /* .formcontato__input:hover {
                    border-bottom: 2px solid #2A7AE4;
                } */

                .formcontato__botao {
                    width: 160px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}