/* Mobile */

section.experience {
    padding: 16px;
    gap: 32px;

    .experience__box {
        gap: 16px;
    }

    .experience__img {
        height: 180px;
        width: 300px;
    }

    .experience__info-container {
        gap: 8px;
    
        .experience__text {
            line-height: 16px;
        }
    
        .experience__description {
            gap: 16px;

            .experience__button button {
                width: 110px;
                height: 40px;
                padding: 12px 16px;
                gap: 10px;
                opacity: 0px;
            }
    
            .experience__repo button {
                border: 1px solid #2A7AE4;
                color: #2A7AE4;
            }
        
            .experience__demo button {
                border: 0;
                background-color: #2A7AE4;
                color: #FFFFFF;
            }   
        }   
    }
}

/* Tablet */

@media screen and (min-width: 768px) {

    section.experience{
        padding: 32px;

        .experience__img {
            height: 370px;
            width: 650px;
        }
    }
}

/* Desktop */

@media screen and (min-width: 1024px) {

    section.experience{
        gap: 64px;

        .experience__section__title{
            font-size: 32px;
        }

        .experience__box {
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }

        .experience__box:nth-child(3) {
            flex-direction: row-reverse;
        }

        .experience__img {
            height: 400px;
            width: 720px;
        }

        .experience__info-container{
            width: 250px;
            gap: 8px;

            .experience__title {
                font-size: 22px;
            }
        
            .experience__text {
                font-size: 16px;
                line-height: 19px;
            }
        
            .experience__description {

                .experience__button button {
                    width: 120px;
                    height: 50px;
                    padding: 16px;
                    font-size: 16px;
                }
            }   
        }
    }
}