/* Mobile */

section.hobbies {
    padding: 16px;
    gap: 32px;

    .hobbies__line {
        width: 100%;
        gap: 1%;

        .hobbies__box ul {
            height: 100px;
            width: 120px;
            padding: 16px;
            gap: 8px;
            background-color: #FFFFFF;
            border-radius: 5%;
            margin: 10px 5px;
    
            .hobbies__img img {
                height: 30px;
                width: 30px;
            }
        
            .hobbies__name {
                line-height: 19px;
            }
        }
    }
}

/* Tablet */

@media screen and (min-width: 768px) {

    section.hobbies{
        padding: 32px;

        .hobbies__line {
            gap: 32px;

            .hobbies__box ul{
                margin: 0;
            }
        }
    }
}

/* Desktop */

@media screen and (min-width: 1024px) {

    section.hobbies {

        .hobbies__title {
            font-size: 32px;
        }

        .hobbies__line {
            width: auto;
            gap: 25px;

            .hobbies__box ul{
                height: 120px;
                width: 140px;

                .hobbies__img img{
                    height: 50px;
                    width: 50px;
                }
            
                .hobbies__name {
                    font-size: 16px;
                }
            }
        }
    }
}