@import url(reset.css);
@import url(layouts/header.css);
@import url(layouts/aside.css);
@import url(layouts/main.css);
@import url(sections/presentation.css);
@import url(sections/about.css);
@import url(sections/skills.css);
@import url(sections/hobbies.css);
@import url(sections/academic.css);
@import url(sections/experience.css);
@import url(sections/contact.css);
@import url(layouts/footer.css);

:root {
  --color-blue-chalk-50: #f7f4fe;
  --color-blue-chalk-100: #f1eafd;
  --color-blue-chalk-200: #e4d8fc;
  --color-blue-chalk-300: #d2b8fa;
  --color-blue-chalk-400: #bc90f5;
  --color-blue-chalk-500: #a763ef;
  --color-blue-chalk-600: #9b43e4;
  --color-blue-chalk-700: #8c30d1;
  --color-blue-chalk-800: #7528af;
  --color-blue-chalk-900: #60238f;
  --color-blue-chalk-950: #3d1461;

  --background-base: var(--color-blue-chalk-50);
  --background-primary: var(--color-blue-chalk-100);
  --background-secondary: var(--color-blue-chalk-200);

  --border-light-color: var(--color-blue-chalk-400);
  --border-dark-color: var(--color-blue-chalk-800);

  --font-white: var(--color-blue-chalk-50);
  --font-color: var(--color-blue-chalk-950);
  --placeholder-color: var(--color-blue-chalk-700);
  --link-color: var(--color-blue-chalk-900);

  --button-soft-color: var(--color-blue-chalk-100);
  --button-bright-color: var(--color-blue-chalk-800);

  --card-color-base: var(--background-primary);
  --card-color-hover: var(--background-secondary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  scrollbar-gutter: stable;

  &:focus {
    outline: 0.2rem ridge var(--color-blue-chalk-500);
    outline-offset: 0.2rem;
  }
}

html {
  color: var(--font-color);
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-base);
  overflow: auto;
  scrollbar-color: var(--color-blue-chalk-800) var(--background-base);
  scrollbar-width: thin;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.8rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-blue-chalk-800);
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-blue-chalk-900);
  }
}

body {
  font-family: "Raleway";
  min-height: 100dvh;
  max-height: 100dvh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "aside aside aside"
    "footer footer footer";
}

a {
  text-decoration: none;
  color: var(--link-color);
}

@media (width > 768px) {
  body {
    grid-template-columns: minmax(auto, 9rem) 1fr 1fr;
    grid-template-rows: 40px 1fr 40px;
    grid-template-areas:
      "header header header"
      "aside main main"
      "footer footer footer";
  }
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

@keyframes shake-left {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

@keyframes shake-right {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 100% 50%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
